$white: #fff
$black: #111
$dark-grey: #39424E
$burgundy: rgb(63, 33, 55);

$primary-color: $burgundy;

$background: darken($primary-color, 5%)

$font-header: 'Prompt','sans serif'
$font-body: 'Montserrat', 'sans-serif'
$body-size: 16px
$body-text: saturate(lighten( $primary-color, 60% ), 10%)

$links: saturate(adjust-hue( $body-text, -95 ), 60%)
$links-hover: lighten( $links, 10% )

$code-block: #0004