<script src="//cdn.jsdelivr.net/terra/latest/mainfile"></script>
<script type="text/javascript">
  console.log(window.terra)
  function plant(config) {
    const { color, size, photosynthesis } = config || {};
    return {
      type: 'plant',
      color: color || [0, 120, 0],
      size: size || 10,
      initialEnergy: 5,
      maxEnergy: 10,
      wait() {
        this.energy += photosynthesis || 1;
      },
      move: false,
      reproduceLv: 0.65
    };
  };
  function brute(config) {
    const { color } = config || {};
    return {
      type: 'brute',
      color: color || [0, 255, 255],
      maxEnergy: 50,
      initialEnergy: 10,
      size: 20
    };
  };
  function bully(config) {
    const { color } = config || {};
    return {
      type: 'bully',
      color: color || [241, 196, 15],
      initialEnergy: 20,
      reproduceLv: 0.6,
      sustainability: 3
    };
  };
  // function init(window, terrarium) {
  //   console.log('init called! ', window, terrarium);
  //   const width = window.innerWidth;
  //   const height = window.innerHeight;
  //   const cellSize = Math.max(width, height) / 75;
  //   if (terrarium) {
  //     terrarium.stop();
  //   } else {
  //     terrarium = new terra.Terrarium(
  //       Math.ceil(width / cellSize), 
  //       Math.ceil(height / cellSize), 
  //       { cellSize, id: 'terra-bg' }
  //     );
  //   }        
  //   terrarium.grid = terrarium.makeGridWithDistribution([['plant', 50], ['brute', 5], ['bully', 10]]);
  //   terrarium.animate();
  //   return terrarium
  // }


  const width = window.innerWidth;
  const height = window.innerHeight;
  const cellSize = Math.max(width, height) / 75;
  let terra = window.terra;

  terra.registerCreature(plant({ color: [116, 60, 99] }));
  terra.registerCreature(brute({ color: [224, 90, 179] }));
  terra.registerCreature(bully({ color: [151,241,243] }));
  
  let terrarium = new terra.Terrarium(
    Math.ceil(width / cellSize), 
    Math.ceil(height / cellSize), 
    { cellSize, id: 'terra-bg' }
  ); 

  terrarium.grid = terrarium.makeGridWithDistribution([['plant', 50], ['brute', 5], ['bully', 10]]);
  terrarium.animate();

</script>